body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Arial Narrow";
}

.grid{
    margin: auto;
    width: 1200px;
}
@media(min-width: 320px) {
    .grid {
        max-width: 300px;
    }
}
@media(min-width: 375px) {
    .grid {
        max-width: 345px;
    }
}
@media(min-width: 425px) {
    .grid {
        max-width: 470px;
    }
}
@media(min-width: 575px) {
    .grid {
        max-width: 650px;
    }
}
@media(min-width: 768px) {
    .grid {
        max-width: 720px;
    }
}
@media(min-width: 992px) {
    .grid {
        max-width: 960px;
    }
}
@media(min-width: 1200px) {
    .grid {
        max-width: 1140px;
    }
}

.box-shadow {
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.4);
}

/*header and navigation*/
.header-container {
    width: 100%;
    height: 500px;
    background: black;
    position: relative;
}

.nav-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 15%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-menu {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu-item {
    cursor: pointer;
}
.nav-menu-item:hover {
    color: #f46632;
}
@media (max-width: 991px) {
    .nav-menu-item {
        display: none;
    }
}
.nav-menu-item:last-child {
    margin-left: 100px;
    background: #707070;
    padding: 10px;
    border-radius: 20px;
}
.nav-menu-item:last-child:hover {
    opacity: 0.7;
    color: #fff;
}


/*hamburger button*/
.hamburger {
    display: none;
    background: #fff;
    height: 3px;
    width: 30px;
    position: relative;
    cursor: pointer;
}
.hamburger::before, .hamburger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 30px;
    height: 3px;
    margin-right: 30px;
}
.hamburger::before {
    top: 10px;
    left: 0%;
    width: 100%;
}
.hamburger::after {
    width: 100%;
    bottom: 10px;
    left: 0%;
}
@media(max-width: 991px) {
    .hamburger {
        display: block;    
    }
}
@media(max-width: 575px) {
    .hamburger {
        margin-right: 30px;
    }
}
.hamburgerCancel {
    transform: rotate(45deg);
}
.hamburgerCancel::before {
    top: 0;
    transform: rotate(-90deg);
}
.hamburgerCancel::after {
    opacity: 0;
}


/*Side navigation menu*/
.side-nav {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    right: 0;
    height: calc(100vh - 101px);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    overflow: hidden;
    overflow-y: scroll;
}
@media(max-width: 991px) {
    .side-nav {
        width: 50vw;
    }
}
@media(max-width: 768px) {
    .side-nav {
        width: 60vw;
    }
}
@media(max-width: 550px) {
    .side-nav {
        width: 75vw;
    }
}
@media(min-width: 200px) {
    .header-container {
        position: absolute;
    }
    .side-nav {
        display: none;
    }
}
.side-nav-menu-item {
    color: #000;
    height: 50px;
    width: 100%;
    cursor: pointer;
    margin-right: auto;
    padding-left: 5px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.side-nav-menu-item:last-child {
    display: flex;
    justify-content: center;
    height: 105px;
    border-bottom: none;
    background: #707070;
}
.side-nav-menu-item:hover {
    background: #f46632;
    font-weight: bold;
    width: 100%;
}
.hideSideNav {
    display: block;
    position: absolute;
    z-index: 1;
}


/*top section*/
.top{
    background: #fff;
    color: black;
    height: 500px;
    border-radius: 10px;
    display: flex;
    z-index: 1;
}
.top-left {
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.top-left h2 {
    width: 100%;
    font-size: 30px;
    text-align: start;
}
.display-name {
    display: flex;
    flex-direction: column;
}
.top-left img {
    width: 95%;
    height: auto;   
}
.prdt {
    position: absolute;
    font-size: 20px;
    opacity: 0.7;
}
.details {
    margin-top: 30px;
    line-height: 25px;
}
.top-left button {
    width: 200px;
    height: 30px;
    background: #f46632;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-top: 30px;
}
.top-right {
    width: 0%;
    display: none;
    position: relative;
}

.top-right img {
    width: 80%;
    height: 80%;
    top: -50%;
    left: -50%;
    bottom: -50%;
    right: -50%;
}
@media(min-width: 991px) {
    .top-left {
        width: 50%;
    }
    .top-right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.dummy {
    width: 100%;
    height: 500px;
    z-index: -1;
}


/*About us*/
.about {
    width: 100%;
    height: 700px;
    background: #fafafa;
    color: black;
    padding-bottom: 150px;
}
.abt-us {
    border-radius: 10px;
    background: #fff;
    transform: translateY(250px);
    display: flex;
    flex-direction: column;
}
.abt-logo {
    display: flex;
}

.prdt-fac {
    width: 250px;
    height: auto;
    margin-left: 10%;
    transform: translateY(-70px);
}
@media(max-width: 580px) {
    .prdt-fac {
        display: none;
    }
}
.abt {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.abt.bg {
    text-align: center;
}
@media(max-width: 580px) {
    .abt {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .abt-bg {
        text-align: center;
    }
}
.background {
    color: rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 70px;
    font-size: 50px;
}

.abt p {
    color: black;
    position: absolute;
    top: 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.social-v {
    height: 70px;
    margin-top: 30px;
    padding-right: 10px;
}
.about-us {
    max-width: 80%;
    margin: auto;
    padding-bottom: 30px;
    line-height: 1.5;
}
@media(max-width: 990px) {
    .about-us {
        max-width: 95%;
        margin-top: -20px
    }
}
@media(max-width: 580px) {
    .about-us {
        margin-top: -40px;
        line-height: 1.5;
        max-width: 85%;
    }
}


/*Experience*/
.experience {
    background: #ffffff;
    color: black;
}
.exp {
    height: 400px;
    background: white;
    border-radius: 10px;
    transform: translateY(-250px);
}
.exp-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp-header p {
    position: absolute;
    text-align: center;
    top: 10px;
    font-weight: bold;
}
.links {
    max-height: 35px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links p {
    max-height: 40px;
    min-height: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}
@media(max-height: 374px) {
    .links {
        display: block;
    }
    .links p {
        width: 100%;
    }
}
.links p:hover {
    background: black;
    color: white;
}
.links p:first-child {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius : 15px 0px 0px 15px; 
}
.links p:last-child {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius : 0px 15px 15px 0px; 
}
.exp-details {
    height: 200px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
}
.exp-image {
    height: 80%;
    padding-right: 20px;
} 
@media(max-width: 430px) {
    .exp-image {
        display: none;
    }
    .exp-details-p {
        width: 95%;
    }
}
.links > p {
    align-items: flex-start;
    max-width: 50%;
    line-height: 1;
}
@media(min-width: 991px) {
    .exp p {
        line-height: 1.5;
        max-width: 100%;
    }
}



/* Sessions Section */
.sessions {
    background: #fff;
    color: black;
}
.sess {
    background: white;
    border-radius: 10px;
    transform: translateY(-200px);
}
.sess-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.sess-bg {
    font-size: 100px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
}
.sess-header p {
    position: absolute;
    text-align: center;
    top: 60px;
    font-weight: bold;
}
/* Session leads */
.session-container {
    margin-top: 100px;
}
@media(max-width: 991px) {
    .session-container {
        width: 100%;
    }
}
.session {
    height: 200px;
    display: flex;
    justify-content: center;
}
@media(max-width: 991px) {
    .session {
        height: auto;
        width: 100%
    }
}
@media(max-width: 575px) {
    .session {
        width: 100%;
    }
}

/* session leader information */
.session-lead {
    width: 150px;
    height: 100%;
}
@media(max-width: 990px) {
    .session-lead {
        width: 80px;
    }
}
.lead-header {
    height: 40px;
    background: #f8f8f8;
    /* border: 1px solid black; */
    display: flex;
}
.mark {
    height: 100%;
    width: 3%;
    background: black;
    border-radius: 5px;
}
.lead-head {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-radius: 5px 0px 0px 5px;
    background: #f8f8f8;
    font-weight: bold;
    font-size: 15px;
}
.lead-images {
    display: flex;
}
@media(max-width: 990px) {
    .lead-images {
        flex-direction: column;
    }
}
.lead-image {
    padding-top: 25px;
    height: 50px;
    width: 50px;
    padding-left: 15px;
}

/* session information */
.session-info {
    width: calc(100% - 180px);
    height: 100%;
}
@media(max-width: 991px) {
    .session-info {
        width: 95%;
    }
}
.info-header {
    width: calc(100% - 10px);
    height: 40px;
    background: #f8f8f8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: auto;
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
}
.info-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-header div img {
    height: 15px;
    width: 15px;
}
@media(max-width: 991px) {
    .info-header {
        justify-content: space-between;
    }
}
.head-item {
    margin-left: 150px;
}
@media(max-width: 990px) {
    .head-item {
        margin-left: 20px;
    }
}

.session-info p {
    max-width: 90%;
    padding-top: 10px;
    line-height: 2;
    padding-left: 10px;
}
@media(max-width: 580px) {
    .session-info p {
        max-width: 100%;
    }
}
.info-header div p:last-child {
    display: none;
}
.item p {
    display: block;
    padding-bottom: 8px;
    
}
@media(max-width: 990px) {
    .session-info p {
        max-width: 100%;
        line-height: 1;
    }
}
@media(max-width: 425px) {
    .info-header div p:last-child {
        display: block;
    }  
    .item p:nth-child(2) {
        display: none;
    }
}




/* Masters section */
.masters {
    color: black;
    background: #fff;
}
.masters-group {
    background: white;
    transform: translateY(-150px);
    border-radius: 10px;
}
.masters-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.masters-header p {
    position: absolute;
    text-align: center;
    top: 115px;
    font-weight: bold;
}
.masters-bg {
    font-size: 80px;
    display: flex;
    justify-content: center;
}
.all-masters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.master {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.master img {
    height: 200px;
    width: 200px;
}
.name {
    font-weight: bold;
}



/* Frequently Asked Questions */
.frequently-asked-questions {
    color: black;
    background: #fafafa;
    height: 1000px;
}
.faq {
    background: #fafafa;
    transform: translateY(-100px);
    border-radius: 10px;
}
.faq-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, 0.6); */
}
.faq-header p {
    position: absolute;
    text-align: center;
    top: 115px;
    font-weight: bold;
}
.faq-bg {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

/* Questions */
.question {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-top: 30px;
    background: white;
    display: flex;
    justify-content: space-between;
}
.question p {
    display: flex;
    align-items: center;
}
.question p:first-child {
    padding-left: 20px;
    font-size: 20px;
}
.question p:last-child {
    padding-right: 20px;
    font-size: 30px;
}



/* Course Fee */
.course-fee {
    color: black;
    background: #fff;
}
.fee {
    background: white;
    transform: translateY(-300px);
    border-radius: 10px;
}
.fee-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fee-header p {
    position: absolute;
    text-align: center;
    top: 115px;
    font-weight: bold;
}
.fee-bg {
    font-size: 80px;
    display: flex;
    justify-content: center;
    width: auto;
}
@media(max-width: 424px) {
    .fee-bg {
        font-size: 70px;
    }
    .fee-header p {
        transform: translateY(-10px);
    }
}
@media(max-width: 374px) {
    .fee-bg {
        font-size: 60px;
    }
    .fee-header p {
        transform: translateY(-30px);
    }
}

/* Achievement */
.achievement-message {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.achievements {
    padding: 10px;
}
.check {
    width: 15px;
    height: 15px;
}
.achieve-image {
    width: 250px;
    height: 250px;
    padding: 10px;
}
@media(max-width: 990px) {
    .achievement-message {
        flex-direction: column;
    }
    .achieve-image {
        order: -1;
        margin-bottom: -20px;
        width: 80%;
        height: auto;
        margin: auto;
    }
    .achievements {
        width: 80%;
        height: auto;
        margin: auto;
    }
}

.message {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.empty{
    width: 100%;
    height: 200px;
    background-color: #000;
}



/* Courses subscription */
.subscription {
    transform: translateY(-150px);
    background: black;
    display: flex;
    justify-content: flex-end;
}
.big-envelope {
    width: 350px;
    height: auto;
    margin-right: 30px;
}
.request {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    margin-top: 50px;
    width: 50%;
}
.form h3 {
    font-size: 25px;
}
.form-field {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2)
}
.small-envelope {
    width: 170px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 120px;
}
@media(max-width: 768px) {
    .subscription {
        height: 400px;
        transform: translateY(-150px);
    }
    .big-envelope {
        width: 100%;
        max-height: 400px;
        display: block;
        margin: auto;
    }
    .small-envelope {
        display: none;
    }
    .request {
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }
    .form {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
}



/* Projects */
.projects {
    color: black;
    background: #fff;
}
.proj {
    background: white;
    transform: translateY(-150px);
    border-radius: 10px;

}
.proj-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proj-header p {
    position: absolute;
    text-align: center;
    top: 115px;
    font-weight: bold;
}
.proj-bg {
    font-size: 80px;
    display: flex;
    justify-content: center;
    width: auto;
}

/* To Do */
.to-do {
    display: flex;
    justify-content: space-between;
}
.to-do-left {
    width: 60%;
    padding-left: 10px;
}
@media(max-width: 768px) {
    .to-do-left {
        width: 95%;
        margin: auto;
    }
}
.to-do-left p {
    line-height: 2;
}
.to-do-left ul {
    list-style-type: none;
}
.to-do-left ul li {
    margin-left: -40px;
    line-height: 2;
}
.page-number {
    background: #f5f5f5;
    width: 80px;
    text-align: center;
    border-radius: 5px;
}
@media(max-width: 768px) {
    .page-number {
        margin: auto;
    }
}
.arrows {
    margin-top: -30px;
    display: none;
    justify-content: center;
}
@media(max-width: 768px) {
    .arrows {
        display: flex;
    }
}
.arrows img {
    height: 50px;
    width: 50px;
    padding: 50px;
}
.proj-image {
    max-height: 500px;
}
@media(max-width: 768px) {
    .proj-image {
        display: none;
    }
}



/* Schedule */
.schedule {
    color: black;
    background: #fafafa;
    transform: translateY(-150px);
    padding-bottom: 50px;
}
.sche {
    background: #fafafa;
}
.schedule-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.schedule-header p {
    position: absolute;
    text-align: center;
    top: 60px;
    font-weight: bold;
}
.shedule-bg {
    font-size: 80px;
    display: flex;
    justify-content: center;
    width: auto;
}

/* start-end line */
.start-end {
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-end img {
    width: 200px;
    height: 10px;
}
@media(max-width: 580px) {
    .start-end img {
        width: 100px;
    }
}
@media(max-width: 530px) {
    .start-end img {
        width: 270px;
    }
}
.start {
    margin-right: 50px;
    font-weight: bold;
}
.end {
    margin-left: 50px;
    font-weight: bold;
}
@media(max-width: 580px) {
    .start {
        margin-right: 25px;
    }
    .end {
        margin-left: 25px;
    }
}
@media(max-width: 530px) {
    .start, .end {
        display: none;
    }
}
@media(max-width: 320px) {
    .start {
        margin-right: 10px;
    }
    .end {
        margin-left: 10px;
    }
}

/* date input */
.date-input {
    display: flex;
    justify-content: center;
}
.start-date-text, .end-date-text {
    display: none;
}
.start-date, .end-date {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 10px 10px 25px 1px grey;
}
.start-date {
    margin-right: 50px;
}
.end-date {
    margin-left: 50px;
}
@media(max-width: 530px) {
    .date-input {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* start */
    .start-date-text {
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .start-date {
        margin-left: auto;
        margin-right: auto;
    }
    
    /* end */
    .end-date-text {
        display: block;
        text-align: center;
        font-weight: bold;
    }
    .end-date {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Register */
.register {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register p {
    font-weight: bold;
    font-size: 20px;
    flex-wrap: wrap;
}
.register p span {
    background: black;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
    margin-right: 5px;
}
.register button {
    width: 130px;
    height: 30px;
    background: #f46632;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px
}
@media(max-width: 530px) {
    .register {
        flex-direction: column;
    }
    .register p, .register button {
        margin-top: 30px;
    }
}



/* Footer */
.footer {
    padding-top: 70px;
    height: 100px;
    background: white;
    transform: translateY(-150px);
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-us {
    width: 90px;
    height: 20px;
}
.prdt-fac2 {
    width: 100px;
    height: 50px;
    transform: translateY(0px);
}
.contact p {
    font-size: 10px;
}
@media(max-width: 490px) {
    .contact {
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact * {
        margin-left: 20px;
        margin-right: 20px;
    }
}