body {
    margin: 0;
    padding: 0;
    color: white;
}

.grid{
    margin: auto;
    width: 1200px;
}
@media(min-width: 320px) {
    .grid {
        max-width: 300px;
    }
}
@media(min-width: 375px) {
    .grid {
        max-width: 345px;
    }
}
@media(min-width: 425px) {
    .grid {
        max-width: 390px;
    }
}
@media(min-width: 576px) {
    .grid {
        max-width: 540px;
    }
}
@media(min-width: 768px) {
    .grid {
        max-width: 720px;
    }
}
@media(min-width: 992px) {
    .grid {
        max-width: 960px;
    }
}
@media(min-width: 1200px) {
    .grid {
        max-width: 1140px;
    }
}


/*header and navigation*/
.header-container {
    width: 100%;
    height: 500px;
    background: black;
    position: relative;
}

.nav-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 15%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-menu {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu-item {
    cursor: pointer;
}
.nav-menu-item:hover {
    color: #f46632;
}
@media (max-width: 991px) {
    .nav-menu-item {
        display: none;
    }
}
.nav-menu-item:last-child {
    margin-left: 100px;
    background: #707070;
    padding: 10px;
    border-radius: 20px;
}
.nav-menu-item:last-child:hover {
    opacity: 0.7;
    color: #fff;
}


/*hamburger button*/
.hamburger {
    display: none;
    background: #fff;
    height: 3px;
    width: 30px;
    position: relative;
    cursor: pointer;
}
.hamburger::before, .hamburger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 30px;
    height: 3px;
    margin-right: 30px;
}
.hamburger::before {
    top: 10px;
    left: 0%;
    width: 100%;
}
.hamburger::after {
    width: 100%;
    bottom: 10px;
    left: 0%;
}
@media(max-width: 991px) {
    .hamburger {
        display: block;    
    }
}
@media(max-width: 575px) {
    .hamburger {
        margin-right: 30px;
    }
}
.hamburgerCancel {
    transform: rotate(45deg);
}
.hamburgerCancel::before {
    top: 0;
    transform: rotate(-90deg);
}
.hamburgerCancel::after {
    opacity: 0;
}


/*Side navigation menu*/
.side-nav {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    right: 0;
    width: 250px;
    height: calc(100vh - 101px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    overflow: hidden;
}
@media(min-width: 200px) {
    .header-container {
        position: absolute;
    }
    .side-nav {
        display: none;
    }
}
.hideSideNav {
    display: block;
    position: absolute;
    z-index: 1;
}
.side-nav-menu-item {
    color: #000;
    height: 30px;
    width: 100%;
    cursor: pointer;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: 1px solid black;
}
.side-nav-menu-item:last-child {
    height: 105px;
    line-height: 105px;
    text-align: center;
}
.side-nav-menu-item:hover {
    background: #f46632;
    font-weight: bold;
    width: 100%;
}


/*top section*/
.top{
    background: #fff;
    color: black;
    height: 500px;
    border-radius: 10px;
    display: flex;
    z-index: 1;
}
.top-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-left h2 {
    width: 100%;
    margin-left: 120px;
}
.top-left img {
    width: 400px;   
}
.prdt {
    position: absolute;
    left: 140px;
    bottom: 150px;
    font-size: 20px;
    opacity: 0.7;
}
.details {
    margin-top: 30px;
    margin-left: -70px;
    line-height: 25px;
}
.top-left button {
    width: 200px;
    height: 30px;
    background: #f46632;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-left: -200px;
    margin-top: 30px;
}
.top-right {
    width: 0%;
    display: none;
    position: relative;
}

.top-right img {
    width: 80%;
    height: 80%;
    top: -50%;
    left: -50%;
    bottom: -50%;
    right: -50%;
}
@media(min-width: 991px) {
    .top-left {
        width: 50%;
    }
    .top-right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.dummy {
    width: 100%;
    height: 500px;
    z-index: -1;
}


/*About us*/
.about {
    width: 100%;
    height: 700px;
    background: red;
    padding-bottom: 150px;
}
.about-us {
    border-radius: 10px;
    height: 300px;
    background: #fff;
    position: relative;
    transform: translateY(250px);
    display: flex;
}
.prdt-fac {
    width: 270px;
    margin-left: 50px;
    transform: translateY(-150px);
}
.abt {
    margin-left: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.background {
    color: rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 70px;
    font-size: 50px;
}
.abt p {
    color: black;
    position: absolute;
    top: 40px;
    padding-right: 60px;
    font-weight: bold;
}
.social-v {
    height: 70px;
    margin-top: 30px;
    padding-right: 10px;
}


/*Experience*/
.experience {
    background: green;
    color: black;
}
.exp {
    height: 400px;
    background: white;
    border-radius: 10px;
    transform: translateY(-250px);
}
.exp-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp-header p {
    position: absolute;
    text-align: center;
    top: 10px;
    font-weight: bold;
}
.links {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links p {
    height: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    cursor: pointer;
}
.links p:hover {
    background: black;
    color: white;
}
.links p:first-child {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius : 5px 0px 0px 5px; 
}
.links p:last-child {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius : 0px 5px 5px 0px; 
}
.exp-details {
    height: 200px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
}
.exp-image {
    height: 80%;
    padding-right: 20px;
} 
.exp p {
    align-items: flex-start;
    max-width: 50%;
    line-height: 1;
}
@media(min-width: 991px) {
    .exp p {
        line-height: 1.5;
        max-width: 100%;
    }
}



/* Sessions Section */
.sessions {
    background: green;
    color: black;
}
.sess {
    background: white;
    border-radius: 10px;
    transform: translateY(-200px);
}
.sess-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.sess-bg {
    font-size: 100px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
}
.sess-header p {
    position: absolute;
    text-align: center;
    top: 60px;
    font-weight: bold;
}
/* Session leads */
.session-container {
    margin-top: 100px;
}
.session {
    height: 200px;
    display: flex;
    justify-content: center;
}
@media(max-width: 990px) {
    .session {
        height: auto;
    }
}
@media(max-width: 575px) {
    .session {
        width: 100%;
    }
}

/* session leader information */
.session-lead {
    width: 150px;
    height: 100%;
}
@media(max-width: 990px) {
    .session-lead {
        width: 80px;
    }
}
.lead-header {
    height: 40px;
    background: #f8f8f8;
    /* border: 1px solid black; */
    display: flex;
}
.mark {
    height: 100%;
    width: 3%;
    background: black;
    border-radius: 5px;
}
.lead-head {
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-radius: 5px 0px 0px 5px;
    background: #f8f8f8;
    font-weight: bold;
    font-size: 15px;
}
.lead-images {
    display: flex;
}
@media(max-width: 990px) {
    .lead-images {
        flex-direction: column;
    }
}
.lead-image {
    padding-top: 25px;
    height: 50px;
    width: 50px;
    padding-left: 15px;
}

/* session information */
.session-info {
    width: calc(100% - 180px);
    height: 100%;
}
.info-header {
    width: calc(100% - 10px);
    height: 40px;
    background: #f8f8f8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: auto;
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
}
.info-header div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-header div img {
    height: 15px;
    width: 15px;
}
.head-item {
    margin-left: 150px;
}
@media(max-width: 990px) {
    .head-item {
        margin-left: 20px;
    }
}

.session-info p {
    max-width: 90%;
    padding-top: 10px;
    line-height: 2;
    padding-left: 10px;
}
@media(max-width: 580px) {
    .session-info p {
        max-width: 100%;
    }
}
.info-header div p:last-child {
    display: none;
}
.item p {
    display: block;
}
@media(max-width: 990px) {
    .session-info p {
        max-width: 100%;
        line-height: 1;
    }
}
@media(max-width: 425px) {
    .info-header div p:last-child {
        display: block;
    }  
    .item p:nth-child(2) {
        display: none;
    }
}


/* Masters */
.masters {
    color: black;
    background: yellow;
}
.masters-group {
    background: white;
    transform: translateY(-150px);
    border-radius: 10px;
}
.masters-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.masters-header p {
    position: absolute;
    text-align: center;
    top: 115px;
    font-weight: bold;
}
.masters-bg {
    font-size: 80px;
    display: flex;
    justify-content: center;
}
.all-masters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.master {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.master img {
    height: 200px;
    width: 200px;
}
.name {
    font-weight: bold;
}


/* Frequently Asked Questions */
.frequently-asked-questions {
    color: black;
    background: yellow;
    height: 1000px;
}
.faq {
    background: pink;
    transform: translateY(-100px);
    border-radius: 10px;
}
.faq-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq-header p {
    position: absolute;
    text-align: center;
    top: 115px;
    font-weight: bold;
}
.faq-bg {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

/* Questions */
.question {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-top: 30px;
    background: white;
    display: flex;
    justify-content: space-between;
}
.question p {
    display: flex;
    align-items: center;
}
.question p:first-child {
    padding-left: 20px;
    font-size: 20px;
}
.question p:last-child {
    padding-right: 20px;
    font-size: 30px;
}



/* Course Fee */
.course-fee {
    color: black;
    background: blueviolet;
}
.fee {
    background: white;
    transform: translateY(-300px);
    border-radius: 10px;
}
.fee-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fee-header p {
    position: absolute;
    text-align: center;
    top: 115px;
    font-weight: bold;
}
.fee-bg {
    font-size: 80px;
    display: flex;
    justify-content: center;
    width: auto;
}

/* Achievement */
.achievement-message {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.achievements {
    padding: 10px;
}
.check {
    width: 15px;
    height: 15px;
}
.achieve-image {
    width: 250px;
    height: 250px;
    padding: 10px;
}
@media(max-width: 990px) {
    .achievement-message {
        flex-direction: column;
    }
    .achieve-image {
        order: -1;
        margin-bottom: -20px;
        width: 80%;
        height: auto;
        margin: auto;
    }
    .achievements {
        width: 80%;
        height: auto;
        margin: auto;
    }
}

.message {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7)
}



/* Courses subscription */
.subscripton {
    color: red;
    background: black;
    height: 200px;
    width: 100%;
    border: 1px solid black;
}
.big-envelope {
    width: 200px;
    height: auto;
}